<html>
<head>
    <title>平台注册</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="/static/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/static/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/dist/demos/css/demos.css">

</head>
<body ontouchstart>
<header class='demos-header'>
    <h5 class="demos-title">已开通标志物联网</h5>
    <p class='demos-sub-title'>极简的物联网平台</p>
</header>

<div class="weui-cells__title">公司注册信息</div>
<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">微信号</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{$name}</p>
                    <p id="openid" hidden="hidden">{$openid}</p>
                </div>
                <div class="weui-cell__hd"><img src={$headimg} alt="icon" style="width:30%;margin-right:5px;display:block"></div>
            </div>
        </div>
    </div>


    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公司ID</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p id="ccpp">{$companyid}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公司名称</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{$cpname}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">终端用户数</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{$usercount}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell weui-cell_access" id="userdetials">
        <div class="weui-cell__hd"><label class="weui-label">已注册用户数</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <p>{$currentcount}</p>
            </div>
        </div>
        <div class="weui-cell__ft">详细信息</div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">服务起止日期</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{$starttime}  --->  {$endtime}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">每日消息数量</label></div>
        <div class="weui-cell__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>微信100，短信20，邮件100</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="weui-footer">
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="show-loading" >确定</a>
    </div>

    <p class="weui-footer__links">
        <a href="http://www.iconics.com.cn" class="weui-footer__link">北京标志卓信科技有限公司</a>
    </p>
    <p class="weui-footer__text">Copyright © 2019 iconics.com.cn</p>
</div>

<style>
    .weui-footer {
        margin: 25px 0 10px 0;
    }
</style>


<script src="/static/dist/lib/jquery-2.1.4.js"></script>
<script src="/static/dist/js/jquery-weui.js"></script>
<script type="text/javascript">
    $(document).on("click", "#show-loading", function() {
        WeixinJSBridge.call('closeWindow');
    });

    $(document).on("click", "#userdetials", function() {
        //WeixinJSBridge.call('closeWindow');
        //$.toptip("details");
        ccpp = $("#ccpp").html();
        if( ccpp.length<1)
        {
            $.toptip("获取微信ID错误", "warning");
            return;
        }
        //$.toptip(ccpp);
        detials = 'http://www.softworx.cn/public/index.php/admin/cpreg/showdetials?ccpp=' + ccpp;
        $.toptip(detials);
        $(location).attr('href',detials);
    });
</script>
</body>
</html>
